.filme-info {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 8px;
}

.filme-info h1 {
  margin: 14px 0;
}

.filme-info img {
  border-radius: 8px;
  width: 800px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.filme-info h3 {
  margin-top: 14px;
}
.filme-info span {
  margin: 8px 0;
}

.area-buttons button {
  margin-right: 12px;
  margin-top: 14px;
  margin-left: 0;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 12px;
  background-color: #116feb;
  outline: none;
  font-size: 20px;
  transition: all 0.5s;
}

.area-buttons button:hover {
  background-color: brown;
  color: #fff;
  opacity: 0.7;
}
.area-buttons a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.area-buttons a:hover {
  color: #fff;
}
