header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 100%;
}

.logo {
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
}

.favoritos {
  color: black;
  background-color: #ffffff;
  border: 4px;
  padding: 5px 14px;
  text-decoration: none;
  border-radius: 4px;
}
